/*Geral*/

body {
    font-family: "Open Sans", Helvetica, Arial , sans-serif;
    color:	#000000;

}

h1, h2, h3 {
    margin: 0;
    font-family: "Roboto", Helvetica, Arial , sans-serif;
    font-weight: 700;
}

h1 {
 color: #000;
font-size: 18px;
 border-bottom: 3px solid #000;
}

.botao{
    color: #f1f1f1;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #4d4d4d;
   width: 150px;

    font-size: .8em;
    border-radius: 5px;
    border: 2px solid #000000 ;

}
.botao:hover{
    background-color: #f1f1f1;
    font-size: 1em;
    color: #000000;
}



/*NAVEGAÇÃO*/

nav {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:	#000000;
    width: 100%;
}


nav ul li a{
    
    height: 22px;
}

nav ul li a#lis:hover{
    color: #00bac6;
}

nav ul li#liss:hover{
    border-bottom: 3px solid #00bac6;
}

/*nav > a {
    text-decoration: none;
    color: 	#000000;
    font-weight: 700;
    font-size: 28px
}*/

nav ul {
    list-style: none;
    padding: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

nav ul li {
    text-align: center;
  width: 100%;
  float: right;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #f1f1f1;
    
}

/*Cabeçalho*/

header {
     background-image: url('../img/fundo1alt.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 200px;
    border: 3px solid #000000;
    
}

header p {
    margin-bottom: 50px;
    font-size: 13px;
    color: #000000;



}
 
header a:hover{
    color: #000000;
}



/*SOBRE*/

#sobre {
    background-image: url('../img/duda.jpg');
    
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
  
    align-items: center;
    text-align: center;
    padding: 0 20px 20px;
    background-color: #4d4d4d;
    color: #f1f1f1;
    height: 220px;
    border-left: 3px solid #000000;

}

#sobre h2{
    margin-left: 550px;
}

#sobre p {
    margin-left: 0px;;
    margin-bottom: 2.5em;
    max-width: 1000px;
}
#sobre img {
    width: 100%;

}


 #sobre a.botao{ 
    margin-left: 0px;
    background-color: #000000;
    
}

#sobre a.botao:hover{
    background-color: #f1f1f1;
    color: #000;
} 

/* SERVIÇOS */

#servicos{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;

}

/* MODAL IMG */

.modal{
    width: 100vw;
    height: 658vw;
    background-color: rgba(0,0,0, .7);
    position: absolute;
    visibility: hidden;
  

}

/*#modal_img{
    width: 50vw;
}
 


.modal_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vw;
    }

#bt_close{
    cursor: pointer;
    color:#000;
    background-color:#f1f1f1;
    position: absolute;
    top: 150px;
    right: 30px;
    padding: 5px 10px;
    font-size: 30px;
    border: 5px solid #1f1f1f;

}

.modal_active{
    visibility: visible;
}

.small_img:hover{
    filter: grayscale(100%);
}*/



/* Portfolio */

#portfolio{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background-color: #000000;
    color: #f1f1f1;
    
}

#portfolio h2 {
    margin-bottom: 20px;
}

#portfolio img {
        width: 100%;
        cursor: pointer;
}


/* CONTATO */

#contato {

    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f;

}
#contato h2, 
    #contato p {
        width: 100%;
        color: #f1f1f1;
       margin-bottom: 5px;
    }
    #contato a{
        color: #f1f1f1;
    }

    #contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1100px;
        height: 180px;
        margin: 0 auto;
        background-color: #1f1f1f;
        align-items: center;
    }
    .cwpp{
        margin-bottom: 5px;
        padding-left: 0px;
        margin-left: 35px;
        
    }
    .cwpp a{
        font-size:10px;
       
        
    }
    .px #pxx {
        font-size: 10px;
      width: 0px;
      margin-top: 10px;

    }
    .px {
        margin-left: 15px;
    }
  

    #contato h2{
        width: 100%;
        color: #f1f1f1;
        top: 0px;
    }

    #contato p {
        padding-bottom: 40px;
        width: 100%;
        color: #f1f1f1;
       margin-bottom: 0px;
    }
    #contato a{
        color: #f1f1f1;
        
    }
    .px img{
        width: 30px;
    }

    .cwpp img{
        width: 35px;
    }


/*FOOTER*/

footer {
    font-size: 13px;
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: #f1f1f1;
}


/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
    /* NAVEGAÇÃO */

    nav {
        flex-direction: row;
        justify-content: space-around;
        
    }

    nav #logo{
        margin-right: 370px;
        margin-left: 10px;
    }
    
  
    nav ul{
       
        flex-direction: row;
        width: 50%;
        margin: 10px;
    }

    nav ul li{
        margin-right: 5px;
    }

    nav ul li#redes {
        
        flex-direction: row;
        width: 10%;
        margin-left: 6px;
       
        
    }

    .botao{
        color: #f1f1f1;
        text-decoration: none;
        padding: 10px 30px;
        background-color: #4d4d4d;
        width: 250px;
        font-size: .9em;
        border-radius: 5px;
        border: 2px solid #000000 ;
    
    }
    
    


    /* CABEÇALHO */
/* 60 */
    header {  
              
        height: 60vh;          
        
        justify-content: center;
        border: 4px solid #000000;
    }

    header p {
        
        font-size: 20px;
        color: #000000;
    
    
    
    }
     header h1 {
      
        color: #000;
        font-size: 30px;
        border-bottom: 3px solid #000;
       }

    /* SOBRE */

    #sobre{
        background-image: url('../img/duda.jpg');
        background-repeat: no-repeat;
        height: 500px!important;
        height: 50vh;
        justify-content: center;
        min-height: 250px;
        border-left: 4px solid #000000 !important;
    }¨

    #sobre h2{
        margin-top: 20px;
        margin-left: 550px;
      
    }

    #sobre p {
        margin-left: 550px;;
        margin-bottom: 2.5em;
        max-width: 1000px;
    }
    #sobre img {
        width: 100%;
    }

    #sobre a.botao{ 
        margin-left: 550px;
        background-color: #000000;
        
    }
    /* SERVIÇOS */

    #serviços {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;

    }

    /* MODAL */

    #modal_img{
        width: 50vw;
        transform: scale(0);
        transition: all linear .35s;
    }

    .modal_active #modal_img{
        transform: scale(1);
    }
     
    .modal{
        width: 100vw;
        height: 93.5vw;
        background-color: rgba(0,0,0, .7);
        position: absolute;
        visibility: hidden;
        z-index: 1;
        opacity: 0;
        transition: visibility 0.8s linear, opacity 0.455s linear;
      
    
    }
    
    .modal_content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vw;
        }
    
    #bt_close{
        cursor: pointer;
        color:#000;
        background-color:#f1f1f1;
        position: absolute;
        top: 150px;
        right: 30px;
        padding: 5px 10px;
        font-size: 30px;
        border: 5px solid #1f1f1f;
        transition: all ease-out .5s;
    
    }

    #bt_close:hover{
        color: #f1f1f1;
        background-color: #f00;


    }

    .modal_active{
        visibility: visible;
        opacity: 1;
    }
    
    
      

    .small_img:hover{
        filter: grayscale(100%);
        transform: scale(1.00999999999999);
    }

    /* PORTFOLIO */

    #portfolio {
        flex-direction: row;
        flex-wrap: wrap;
        

    }

    #portfolio h2{
        width: 100%;
        text-align: center;
    }

    #portfolio img{ 
        border: 1.56px solid #000000;
        width: 33.0555555555555555%;
        transition: all linear 0.36s;

    }

   
    /* CONTATO */

/* CONTATO */



    
    #contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1100px;
        height: 180px;
        margin: 0 auto;
        background-color: #1f1f1f;
        align-items: center;
    }
    .cwpp{
        padding-right: 45px;
        width: 90;
        padding-left: 80px;
        margin-bottom: 0px;
    }
    .cwpp a{
        font-size:15px;
    }
    .px #pxx {
        font-size: 14px;
        width: 10px;
      margin-top: 10px;

    }

    .px img{
        width: 50px;
    }
    .cwpp img{
        width: 50px;
    }
    #contato h2{
        width: 100%;
        color: #f1f1f1;
        top: 0px;
    }

    #contato p {
        padding-bottom: 5px;
        width: 100%;
        color: #f1f1f1;
       margin-bottom: 25px;
    }
    #contato a{
        color: #f1f1f1;
        
    }

